body {
    background: #9994ff;
    color: black;
    box-shadow: 0 4px 10px 4px #454747;
}

#kontener {
    background: #360a7b;
}

#nav {
    text-align: left;
    overflow: hidden;
    font-family: Calibri, Tahoma, serif;
}

ul#nav li {
    border: #360a7b solid 1px;
    list-style-type: none;
    float: left;
    background: mediumslateblue;
    margin-left: 3px;
}

ul#nav li:hover {
    border: #360a7b solid 1px;
    list-style-type: none;
    float: left;
    background: darkmagenta;
    margin-left: 3px;
}

ul#nav li a {
    display: block;
    padding: 4pt;
    text-decoration: none;
    color: white;
}

ul#nav li li a {
    width: 160px;
}

ul#nav li li:hover {
    background: darkmagenta;
}

ul#nav li ul {
    overflow: hidden;
    display: none;
}

ul#nav li:hover ul {
    position: absolute;
    background: darkmagenta;
    padding: 0;
    display: block;
    width: 177px;
}

#menu {
    font-size: 18px;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: #25013d solid 5px;
}

/*#menu li {
    float: left;
    margin: 0;
    list-style: none;
    padding-right: 5px;
    font-family: "Lucida Grande", sans-serif;
    font-size: 85%;
}
#menu a {
    float: left;
    display: block;
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
    border: darkslateblue solid 1px;
    border-bottom: none;
    background: #a7c0ff;
    color: black;
}
#menu a:hover {
    background: #ecfdff;
    text-decoration: none;
}*/
#main {
    border-left: #25013d solid;
    border-right: #25013d solid;
    float: left;
    width: 75%;
    padding: 1%;
    background: #8eb0ff;
}

#aside {
    float: right;
    width: 20%;
    padding: 1%;
}

#main ul {
    margin-left: 20px;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

h1, h3, #footer {
    background: #140046;
    color: white;
    text-align: center;
    clear: both;
}

#footer {
    padding: 5px 0 5px 0;
}

*.box {
    background: #00d8ff;
    padding: 5px;
    margin: 5px;
    font-size: 90%;
    border: #140046 solid;
}

h2 {
    margin-left: 20px;
}

*.stripe {
    background: #140046;
    height: 22px;
}

#validation {
    padding: 10px;
    text-align: right;
    margin-right: 10px;
}

#validation a {
    margin-right: 10px;
    position: relative;
    bottom: 10px;
}

#table1 {
    background: lightblue;
    text-align: center;
    width: 96%;
    margin: 2%;
    border: 2pt solid darkblue;
}

caption {
    font-size: 120%;
    font-weight: bold;
}

tfoot, thead {
    background: darkblue;
    color: lightsteelblue;
    font-size: 110%;
    padding: 5pt;
}

tfoot a {
    color: white
}

#table1 td, th {
    border: 1pt solid darkblue;
}

*.parzysty {
    background: dodgerblue;
}

form {
    position: relative;
    background: #359ca8;
    padding: 5px;
    border: 1px solid;
    max-width: 300px;
    margin-left: 50px;
}
form *.input1:invalid {
    border-color: red;
    border-radius: 5px;
}
form *.input1, *.input1:valid {
    border-color: darkgreen;
    border-radius: 5px;
}

.form1, h4 {
    font-weight: bold;
    font-size: 90%;
    margin-left: 10px;
}

*.button {
    margin-left: 10px
}

*.input1 {
    position: absolute;
    left: 120px;
}

#checkbox1, #checkbox2, #checkbox3 {
    margin-left: 30px;
}

*.checkbox {
    color: lightgoldenrodyellow;
}

*.checkbox-target {
    color: black;
}

#radio1, #radio2, #radio3 {
    margin-left: 20px;
}

*.radio {
    color: lightgoldenrodyellow
}

*.images {
    box-shadow: 2px 2px 7px 2px #3b3b3b;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;

}

*.images:hover {
    filter: brightness(130%);
    transition: all 0.60s;
}

#images_table {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
