body {
    background: #3c0306;
    color: black;
    box-shadow: 0 4px 10px 4px #1e0809;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background: #211f22;
}
#header {
    width: 100%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    overflow: hidden;
    font-family: Calibri, Tahoma, serif;
}

nav ul li {
    border: #615e61 solid 1px;
    list-style-type: none;
    background: #413d3d;
    margin-left: 3px;
}

nav ul li:hover {
    border: black solid 1px;
    list-style-type: none;
    background: red;
    margin-left: 3px;
}

nav ul li a {
    display: block;
    padding: 4pt;
    text-decoration: none;
    color: white;
}

nav ul li li a {
    width: 100%;
}

nav ul li li:hover {
    background: red;
}

nav ul li ul {
    overflow: hidden;
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    background: red;
    padding: 0;
    display: block;
    width: 177px;
}

#menu {
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: black solid 5px;
}
main {
    color: #a4a1a1;
    border-left: black solid;
    border-right: black solid;
    width: 75%;
    padding: 1%;
    background: #323033;
}
main, #menu {
    font-size: small;
}

aside {
    width: 20%;
    padding: 1%;
}
aside *.box {
    background: #370001;
    padding: 5px;
    margin: 5px;
    font-size: 90%;
    border: black solid;
    border-radius: 5px;
    box-shadow: 0 2px 10px black;
    color: red;
    text-align: left;
}
aside a {
    color: #b97272;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

h1, h3 {
    width: 100%;
    background: #060113;
    color: red;
    text-align: center;
    clear: both;
}
h2 {
    margin-left: 20px;
}
h3 {
    border-radius: 5px;
    border: #510203 2px solid;
}

footer {
    color: whitesmoke;
    background: black;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 5px 0 5px 0;
}

*.stripe {
    background: #060113;
    border-radius: 5px;
    height: 22px;
}

#validation {
    padding: 10px;
    text-align: right;
    margin-right: 10px;
}

#validation a {
    margin-right: 10px;
    position: relative;
    bottom: 10px;
}

#table1 {
    background: black;
    color: #c5c3c6;
    text-align: center;
    width: 96%;
    margin: 2%;
    border: 2pt solid #ff0b00;
}
#table1 td, th {
    border: 1pt solid #ff0b00;
}
#table1 tbody {
    color: whitesmoke;
}
#table1 tbody tr:nth-child(even) {
    background: lightslategray;
}
#table1 tbody tr:nth-child(odd) {
    background: #54545a;
}
caption {
    font-size: 120%;
    font-weight: bold;
}

tfoot, thead {
    background: #232324;
    color: #c8a19c;
    font-size: 110%;
    padding: 5pt;
}
tfoot a {
    color: white
}

form {
    margin: 0 auto;
    position: relative;
    background: #320100;
    color: #bda4a3;
    padding: 5px;
    border: 5px solid #000000;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 1px 2px 15px black;
}

form *.input1:invalid {
    border-bottom: 2px solid red;
}
form *.input1, *.input1:valid {
    border-bottom: 2px solid green;

}
*.input1{
    color: wheat;
    border: none;
    background: #320100;
    position: absolute;
    right: 5%;
    width: 60%;
}


.form1, h4 {
    font-weight: bold;
    font-size: 90%;
    margin-left: 10px;
}
*.button {
    margin-left: 10px
}
#credit {
    position: relative;
}
*.input2 {
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: #323033;
    position: absolute;
    left: 40%;
}
#country{
    width: 70px;
}
#age{
    width: 35px;
}

#checkbox1, #checkbox2, #checkbox3 {
    margin-left: 30px;
}

*.checkbox {
    color: lightgoldenrodyellow;
}

*.checkbox-target {
    color: black;
}

#radio1, #radio2, #radio3 {
    margin-left: 20px;
}

*.radio {
    color: lightgoldenrodyellow
}
#images_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}
*.images {
    box-shadow: 2px 2px 8px 6px #3b3b3b;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    filter: brightness(70%);

}

*.images:hover {
    filter: brightness(110%);
    transition: all 0.60s;
}
#calc {
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}
*.input3{
    width: 86.5%;
}
*.calc {
    margin-left: 12%;
}
@media screen and (min-width: 430px){
    nav ul li ul {
        top: 1%;
    }
}
@media screen and (max-width: 620px) {

    main  {
        width: 100%;
    }
    aside {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
    }
    aside *.box {
        width: 30%;
    }
}
@media screen and (max-width: 430px) {
    nav li {
        margin-left: 0;
        text-align: center;
        width: 80%;
        border-radius: 0;
    }
    nav ul li:hover ul{
        position: relative;
        width: 100%;
    }
    nav ul li li {
        margin: 0 auto;
        width: 100%;
    }
    nav ul li ul li:hover{
        margin:0 auto;
    }
}
@media screen and (max-width: 360px) {
    *.input1{
        right: 5%;
        width: 55%;
    }
    aside *.box {
        width: 35%;
    }
}
@media screen and (max-width: 254px) {
    nav ul li {

        width: 80%;
    }
    *.input1{
        right: 5%;
        width: 40%;
    }
    aside *.box {
        width: 90%;
    }
    tfoot, thead {
        font-size: 80%;
        padding: 0;
    }
    #table1 {
        margin: 2%;
    }
}